{% extends "base.html.twig" %}

{% block title %}
    {{ slug }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block body %}
    {{ dump() }}
    <h1>This is about {{ slug }} but from twig template</h1>
    {% for route in routes %}
        <a href="{{ path(route.route) }}">{{ route.name }}</a>
    {% endfor %}
    
    
    <div class="subjects">
            <div class="subject" style="width:100%; padding: 20px; overflow: hidden; box-sizing: border-box;">
                <div class="desc" style="width: 100%; padding: 5px; box-sizing: border-box;">
                    <span class="desc-label">name:</span> {{ subject.name }} |
                    <span class="desc-label">age:</span> {{ subject.age }} |
                    <span class="desc-label">breed:</span> {{ subject.breed }} |
                    <button href="{{ path('api_heart_toggle', {slug: subject.slug}) }}" class="btn btn-like">
                        <i class="fa-heart"></i>
                        <span class="like">
                             {{ subject.likes }}
                        </span>
                    </button>
                    <span class="desc-label">img:</span> <a href="#">
                        <button class="btn btn-imageCount">{{ subject.images|length }}</button>
                    </a>
                </div> 
                <div class="desc-images">
                    {% for url in subject.images %}
                        <img samesite="None" class="subject-img" style="height: 200px;" src="{{ url }}" alt="Dog {{ subject.breed }} age {{ subject.age }}">
                    {% endfor %}
                </div>
                <br> 
                <div class="desc-text">
                    {{ subject.description|raw }}                    
                </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

